.carousel {
  margin-top: 50px;
  margin-bottom: 100px !important;
  cursor: pointer;
}
.carousel .slick-next,
.carousel .slick-prev {
  display: none !important;
}
.carousel .slick-list .item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 520px;
  margin-right: -15px;
  width: 100vw !important;
  position: relative;
}
.carousel .slick-list .item:after {
  content: '';
  position: absolute;
  background: linear-gradient(rgba(173, 222, 0, 0.2), rgba(173, 222, 0, 0.2));
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.carousel .slick-list .item > .item__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  position: absolute;
  bottom: 30px;
  max-width: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  background-color: rgba(173, 222, 0, 0.8);
  border-radius: 20px;
}
.carousel .slick-list .item > .item__description * {
  color: white;
}
.carousel .slick-list .item > .item__description > .btn {
  margin-top: 30px;
  text-decoration: none;
}
.carousel .slick-dots {
  position: relative;
}
.carousel .slick-dots li {
  margin-top: 10px;
}
.carousel .slick-dots li button:before {
  font-size: 28px;
  color: gray;
}
.carousel .slick-dots li.slick-active button:before {
  color: #adde00;
}
.carousel .slick-dots li button:before:hover {
  color: #adde00;
}
@media screen and (max-width: 850px) {
  .carousel {
    margin-top: 50px;
    margin-bottom: 50px !important;
  }
  .carousel .slick-list .item {
    height: 400px;
    margin-right: 0px;
  }
  .carousel .slick-list .item .item__description {
    max-width: 80%;
    bottom: 10px;
  }
}
ul#main-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  font-style: normal;
}
ul#main-menu > li {
  position: relative;
  display: flex;
  padding-right: 60px;
  padding-bottom: 20px;
  margin-top: 20px;
}
ul#main-menu > li > a {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}
ul#main-menu > li:hover a:after {
  content: " ";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: 27px;
  background-color: white;
}
ul#main-menu > li:hover ul.sub-menu {
  background-color: #adde00;
  top: 30px;
  transition: background-color 1s;
}
ul#main-menu > li:hover ul.sub-menu > li a {
  color: white;
  transition: color 1s;
  font-family: 'Roboto', sans-serif;
}
ul#main-menu > li:hover ul.sub-menu > li a:after {
  transition: background-color 1s;
  background-color: white;
}
ul#main-menu > li > ul.sub-menu {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 10px 0px 10px ;
  position: absolute;
  top: -300px;
  left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 0;
}
ul#main-menu > li > ul.sub-menu > li {
  padding: 0 10px 20px 10px;
  width: 100%;
}
ul#main-menu > li > ul.sub-menu > li a {
  font-size: 16px;
  text-decoration: none;
  color: transparent;
  position: relative;
  text-transform: capitalize;
  display: block;
}
ul#main-menu > li > ul.sub-menu > li a:after {
  content: " ";
  width: 86%;
  height: 1px;
  display: block;
  position: absolute;
  top: 26px;
  background-color: transparent;
}
ul#main-menu > li > ul.sub-menu > li:last-of-type a:after {
  display: none;
}
ul#main-menu > li:first-of-type {
  padding-left: 0px;
}
ul#main-menu > li:last-of-type {
  padding-right: 0px;
}
ul#main-menu > li:nth-of-type(3) {
  font-family: 'Material Icons';
}
ul#main-menu > li:nth-of-type(3):after {
  content: '\e5c5';
  font-size: 27px;
  font-family: 'Material Icons';
  color: white;
  display: block;
  position: absolute;
  right: 30px;
  top: -7px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
ul#main-menu > li:nth-of-type(3):hover:after {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
#mobile-menu-trigger {
  display: none;
}
@media screen and (max-width: 1300px) {
  ul#main-menu > li {
    padding-right: 30px;
  }
  ul#main-menu > li:nth-of-type(2):after {
    right: 7px;
  }
}
@media screen and (max-width: 850px) {
  ul#main-menu {
    background-color: #adde00;
    display: none;
    flex-direction: column;
    min-height: 100vh;
  }
  ul#main-menu li {
    padding-left: 0px;
    padding-bottom: 40px;
  }
  ul#main-menu li a {
    font-size: 14px;
  }
  ul#main-menu li > ul.sub-menu {
    display: none;
    position: relative;
  }
  ul#main-menu li:hover > ul.sub-menu {
    display: block;
    position: relative;
    left: -85px;
  }
  ul#main-menu li:hover > ul.sub-menu li {
    padding: 20px 0;
  }
  ul#main-menu > li:nth-of-type(2):after {
    right: auto;
    left: 115px;
  }
  #mobile-menu-trigger {
    position: fixed;
    left: 15px;
    display: flex;
    background-color: transparent;
    border: none;
    z-index: 100;
    transition: right 0.6s;
    cursor: pointer;
  }
  #mobile-menu-trigger span {
    display: block;
    margin-bottom: 6px;
    height: 2px;
    width: 26px;
    opacity: 1;
    transform: rotate(0deg);
    background-color: white;
  }
  #mobile-menu-trigger > div {
    display: flex;
    flex-direction: column;
  }
  #mobile-menu-trigger > div > span:nth-child(1) {
    transform: rotate(0deg);
    transition: transform 0.6s;
  }
  #mobile-menu-trigger > div > span:nth-child(3) {
    visibility: visible;
    transform: visibility 0.6s;
  }
  #mobile-menu-trigger > div > span:nth-child(2) {
    transform: rotate(0deg);
    transition: transform 0.6s;
  }
  .menu-open #mobile-menu-trigger {
    right: 41.5%;
    transition: right 0.6s;
  }
  .menu-open #mobile-menu-trigger div {
    margin-top: 4px;
  }
  .menu-open #mobile-menu-trigger div span {
    margin-bottom: -1px;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(1) {
    transform: rotate(45deg);
    transition: transform 0.6s;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(3) {
    visibility: hidden;
    transform: visibility 0.6s;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(2) {
    margin-bottom: 8px;
    transform: rotate(-45deg);
    transition: transform 0.6s;
  }
  .menu-open ul#main-menu {
    margin-left: 0px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    display: block;
  }
}
header {
  background-color: #adde00;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999;
}
header .header__content {
  padding-left: 25px;
  padding-bottom: 8px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header__content #logo-anchor img {
  width: 70%;
}
.header-animation-small {
  padding-top: 0px;
  transition: padding-top 0.5s;
}
.header-animation-bigger {
  padding-top: 20px;
  transition: padding-top 0.5s;
}
@media screen and (max-width: 850px) {
  header nav {
    display: none;
  }
  header .header__content {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
  }
  header .header__content #logo-anchor {
    display: flex;
    justify-content: center;
    position: inherit;
  }
  header.menu-open nav {
    display: block;
    position: absolute;
    right: -20px;
    left: 0px;
    top: 80px;
  }
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  color: #003049;
  text-transform: uppercase;
}
.title h2 {
  position: relative;
}
.title h2 img {
  position: absolute;
  bottom: -6px;
  left: -21px;
  width: 45px;
}
@media screen and (max-width: 850px) {
  .title {
    margin-bottom: 60px;
  }
}
.course-list {
  display: flex;
  max-width: 1250px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
.course-list .course-list__item {
  margin: 20px 25px;
  width: 550px;
}
.course-list .course-list__item .course-list__item__box {
  z-index: 99999;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px;
  border-radius: 20px;
}
.course-list .course-list__item .course-list__item__box .course-list__item__box__title {
  width: 70%;
}
.course-list .course-list__item .course-list__item__box .course-list__item__box__title > * {
  color: white;
}
.course-list .course-list__item .course-list__item__box .course-list__item__box__title h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.course-list .course-list__item .course-list__item__dropdown {
  z-index: 0;
  display: none;
  border: 1px solid #adde00;
  border-radius: 20px;
  margin-top: -30px;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 10px 20px 20px;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item:after {
  content: "";
  height: 1px;
  background-color: #adde00;
  position: absolute;
  right: 20px;
  left: 20px;
  top: 0;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item:first-of-type {
  padding-top: 50px;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item > img {
  width: 70px;
  margin-right: 10px;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item-text {
  width: 60%;
  margin-right: 10px;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item-text .course-list__item__dropdown__item-text__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item-text .course-list__item__dropdown__item-text__title > h4 {
  color: #adde00;
  text-transform: uppercase;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item-text .course-list__item__dropdown__item-text__title img {
  margin-left: 10px;
  width: 23px;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item__btn h5 {
  color: #adde00;
  margin-bottom: 10px;
}
.course-list .course-list__item__box.active .material-icons-round {
  transition: transform 0.4s;
  transform: rotate(-180deg);
}
.course-list .course-list__item__box.active ~ .course-list__item__dropdown {
  display: block;
}
.course-list .material-icons-round {
  font-size: 80px;
  transform: rotate(0deg);
  transition: transform 0.4s;
  margin-top: -15px;
  color: inherit;
}
.course-list__obs {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.course-list__obs .rich-text {
  margin-right: 15px;
}
.course-list__obs .rich-text p {
  font-size: 11px;
}
.course-list__obs img {
  margin-right: 5px;
  width: 70px;
}
.color-green .material-icons-round {
  color: #003049;
}
.color-green ~ .course-list__item__dropdown a.btn {
  background-color: #003049;
}
.color-dark-blue .material-icons-round {
  color: #adde00;
}
.color-dark-blue ~ .course-list__item__dropdown a.btn {
  background-color: #003049;
}
.color-dark-blue-2 .material-icons-round {
  color: #adde00;
}
.color-dark-blue-2 ~ .course-list__item__dropdown a.btn {
  background-color: #46637F !important;
}
.color-light-blue .material-icons-round {
  color: #adde00;
}
.color-light-blue ~ .course-list__item__dropdown a.btn {
  background-color: #6498AA !important;
}
.color-light-blue-2 .material-icons-round {
  color: #adde00;
}
.color-light-blue-2 ~ .course-list__item__dropdown a.btn {
  background-color: #6498AF !important;
}
@media screen and (max-width: 1000px) {
  .course-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  .course-list {
    margin-right: 20px;
    margin-left: 20px;
  }
  .course-list .course-list__item {
    margin: 20px auto;
    width: 100%;
  }
  .course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item {
    padding: 20px 5px 20px 5px;
  }
  .course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item > img {
    width: 35px;
  }
  .course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item-text {
    width: auto;
    margin-right: 0px;
  }
  .course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item-text .course-list__item__dropdown__item-text__title h4 {
    font-size: 12px;
  }
  .course-list .course-list__item .course-list__item__dropdown .course-list__item__dropdown__item .course-list__item__dropdown__item-text .course-list__item__dropdown__item-text__title img {
    width: 12px;
  }
  .course-list__obs {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  .course-list__obs .rich-text {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.btn {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #003049;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn:hover {
  box-shadow: 0 0 1em gray;
}
@media screen and (max-width: 850px) {
  .btn {
    font-size: 11px;
  }
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}
.testimonial .testimonial__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonial .testimonial__item {
  position: relative;
  margin: 0px 25px 20px 25px;
}
.testimonial .testimonial__item img {
  width: 420px;
}
.testimonial .testimonial__item .testimonial__item__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 70px;
  bottom: 85px;
  right: 30px;
  left: 72px;
}
.testimonial .testimonial__item .testimonial__item__text h4 {
  margin-top: 15px;
}
@media screen and (max-width: 850px) {
  .testimonial {
    width: 90%;
  }
  .testimonial .testimonial__item {
    margin-right: 0px;
    margin-left: 0px;
  }
  .testimonial .testimonial__item img {
    width: 100%;
  }
}
.text-img {
  display: flex;
  max-width: 1250px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}
.text-img > img {
  width: 38%;
  max-width: 300px;
}
.text-img > div {
  width: 35%;
  max-width: 385px;
  margin-right: 50px;
}
@media screen and (max-width: 550px) {
  .text-img {
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .text-img > img {
    width: 100%;
  }
  .text-img > div {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.rich-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.rich-text > p,
.rich-text span {
  font-size: 18px;
  line-height: 20px;
}
.rich-text h2 {
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 10px;
  font-weight: 600;
}
.rich-text h3 {
  font-size: 23px;
  line-height: 26px;
  font-weight: 600;
}
.rich-text h4 {
  font-size: 19px;
  line-height: 21px;
  font-weight: 600;
}
.rich-text h5 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.rich-text h6 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.rich-text a {
  text-decoration: underline;
}
.rich-text ul li {
  margin-bottom: 9px;
}
.rich-text br {
  margin-bottom: 10px;
}
.rich-text img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 850px) {
  .rich-text h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .rich-text h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .rich-text h4 {
    font-size: 16px;
    line-height: 18px;
  }
  .rich-text p {
    font-size: 15px;
    line-height: 17px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wp-block-embed {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.wp-block-embed iframe {
  border: 5px solid #adde00;
}
@media screen and (max-width: 850px) {
  .wp-block-embed iframe {
    width: 100%;
  }
}
figure,
.wp-block-image {
  margin-bottom: 25px;
}
figure figcaption,
.wp-block-image figcaption {
  width: 100%;
  font-size: 16px;
  text-align: right;
}
figure figcaption a,
.wp-block-image figcaption a {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  font-family: 'Roboto', sans-serif;
  color: #003049;
}
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #003049;
}
p,
span {
  font-size: 18px;
  line-height: 20px;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 10px;
  font-weight: 600;
}
h3 {
  font-size: 23px;
  line-height: 26px;
  font-weight: 600;
}
h4 {
  font-size: 19px;
  line-height: 21px;
  font-weight: 600;
}
h5 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
h6 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
strong {
  font-weight: bold;
}
ul li {
  font-size: 11px;
}
blockquote,
q {
  margin: 0px 8% 30px 8%;
  font-style: italic;
}
blockquote p:last-of-type,
q p:last-of-type {
  margin-bottom: 15px;
}
@media screen and (max-width: 850px) {
  h2 {
    font-size: 22px;
    line-height: 24px;
  }
  h3 {
    font-size: 18px;
    line-height: 20px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
  p {
    font-size: 13px;
    line-height: 15px;
  }
}
.structure-container {
  width: 100%;
  min-height: 100vh;
}
.structure-container .structure-container__content {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (min-width: 1300px) {
  .structure-container .structure-container__content {
    max-width: 1900px;
  }
}
@media screen and (max-width: 850px) {
  .structure-container .structure-container__content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.color-green {
  background-color: #adde00;
  color: white;
}
.color-dark-blue {
  background-color: #003049;
  color: white;
}
.color-light-blue {
  background-color: #6498AA;
  color: white;
}
.color-dark-blue-2 {
  background-color: #46637F;
  color: white;
}
.color-light-blue-2 {
  background-color: #6498AF;
  color: white;
}
.structure-block {
  display: flex;
  justify-content: center;
}
.structure-block .structure-block__center {
  margin: 0px auto 20px auto;
  width: 30%;
}
@media screen and (min-width: 1300px) {
  .structure-block .structure-block__center {
    margin: 0px auto 20px auto;
    width: 31%;
  }
}
@media screen and (max-width: 1000px) {
  .structure-block .structure-block__center {
    width: 45%;
  }
}
@media screen and (max-width: 850px) {
  .structure-block .structure-block__center {
    width: 100%;
  }
}
@font-face {
  font-family: Helvetica-Neue;
  src: url('../resources/font/CircularStd-Bold.otf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Book.otf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Medium.otf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-BlackItalic.otf') format('opentype');
  font-style: italic;
}
@font-face {
  font-family: Helvetica-Neue;
  src: url('../resources/font/helveticaneue-regular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Helvetica-Neue;
  src: url('../resources/font/neue-helvetica-bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/icon?family=Material+Icons);
  /* For IE6-8 */
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.structure-justify-start {
  justify-content: flex-start !important;
}
.structure-text-left {
  text-align: left !important;
}
footer {
  padding: 40px;
  background-color: #adde00;
}
footer .footer__content {
  max-width: 500px;
  margin: 0 auto;
}
footer .footer__content .footer__content-first-line {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer .footer__content .footer__content-first-line > img {
  margin-right: 30px;
}
footer .footer__content .footer__content-first-line .footer__content-first-line__social-media h5 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
footer .footer__content .footer__content-first-line .footer__content-first-line__social-media div {
  display: flex;
}
footer .footer__content .footer__content-first-line .footer__content-first-line__social-media div a {
  display: block;
  margin-right: 10px;
}
footer .footer__content .footer__content-first-line .footer__content-first-line__social-media div a img {
  width: 34px;
}
footer .footer__content .footer__content-first-line .footer__content-first-line__social-media div a:last-of-type {
  margin-right: 0px;
}
footer .footer__content .footer__content-second-line {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;
}
footer .footer__content .footer__content-second-line > * {
  color: white;
  text-decoration: none;
}
footer .footer__content .footer__content-second-line a {
  margin-bottom: 10px;
}
footer .footer__content .footer__content-second-line a img {
  width: 35px;
}
footer .footer__content .footer__content-second-line p {
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  footer .footer__content .footer__content-first-line {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .footer__content .footer__content-first-line > img {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 70%;
  }
}
form.wpcf7-form {
  max-width: 30%;
  margin: 0 auto 40px auto;
}
form.wpcf7-form p {
  margin-bottom: 0px;
}
form.wpcf7-form p:last-of-type {
  border: none;
}
form.wpcf7-form label {
  height: 32px;
}
form.wpcf7-form input,
form.wpcf7-form textarea {
  border: none;
  background-color: #fffef7;
  color: black;
  padding: 5px 10px;
  font-size: 9px;
  font-family: 'CircularStd', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  border: 1px solid #615e5e;
  border-bottom: none;
  width: 100%;
  border-radius: 0;
}
form.wpcf7-form input {
  height: 29px;
}
form.wpcf7-form input::placeholder {
  color: black;
  font-size: 9px;
}
form.wpcf7-form textarea::placeholder {
  color: black;
  font-size: 9px;
}
form.wpcf7-form input[type="submit"] {
  width: auto;
  margin-top: -3px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 9px;
  width: 100%;
  font-weight: 300;
  text-align: left;
  border: 1px solid #615e5e;
  transition: background-color 0.5s;
}
form.wpcf7-form input[type="submit"]:hover {
  color: white;
  background-color: black;
  transition: background-color 0.5s;
}
form.wpcf7-form input:-webkit-autofill,
form.wpcf7-form input:-webkit-autofill:hover,
form.wpcf7-form input:-webkit-autofill:focus,
form.wpcf7-form input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  background-color: #fffef7;
}
form.wpcf7-form .submit-arrow {
  position: relative;
}
form.wpcf7-form .submit-arrow .arrow {
  position: absolute;
  top: 8px;
  right: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
form.wpcf7-form .submit-arrow .arrow span {
  background-color: black;
  height: 1px;
  width: 9px;
}
form.wpcf7-form .submit-arrow .arrow .arrow-1 {
  transform: rotate(45deg);
  margin-bottom: 5px;
}
form.wpcf7-form .submit-arrow .arrow .arrow-2 {
  transform: rotate(-45deg);
}
form.wpcf7-form .submit-arrow:hover {
  background-color: black;
  color: white;
  transition: background-color 0.5s;
}
form.wpcf7-form .submit-arrow:hover .arrow span {
  background-color: white;
}
.wpcf7 .ajax-loader {
  display: none;
}
@media screen and (min-width: 1300px) {
  form.wpcf7-form {
    max-width: 31%;
  }
}
@media screen and (max-width: 1000px) {
  form.wpcf7-form {
    margin-bottom: 30px;
    max-width: 45%;
  }
}
@media screen and (max-width: 850px) {
  form.wpcf7-form {
    margin-bottom: 30px;
    max-width: 100%;
  }
}
@-ms-viewport {
  width: device-width;
}
