.course-list {
	display: flex;
	max-width: 1250px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;

	.course-list__item {
		margin:20px 25px;
		width: 550px;
		.course-list__item__box {
			z-index: 99999;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 30px 20px;
			border-radius: 20px;

			.course-list__item__box__title {
				width: 70%;
				> * {
					color: white;
				}
				h4 {
					text-transform: uppercase;
					margin-bottom: 20px;
					min-height: 60px;
				}
			}
		}
		.course-list__item__dropdown {
			z-index: 0;
			display: none;
			border: 1px solid @green;
			border-radius: 20px;
			margin-top: -30px;
			.course-list__item__dropdown__item {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding: 20px 10px 20px 20px;
				&:after {
					content: "";
					height: 1px;
					background-color: @green;
					position: absolute;
					right: 20px;
					left: 20px;
					top: 0;
				}
				&:first-of-type {
					padding-top: 50px;
				}
				>img {
					width: 70px;
					margin-right: 10px;
				}

				.course-list__item__dropdown__item-text {
			    width: 60%;
			    margin-right: 10px;
					.course-list__item__dropdown__item-text__title {
						display: flex;
						align-items: center;
						margin-bottom: 20px;
						>h4 {
							color: @green;
							text-transform: uppercase;
						}
						img {
							margin-left: 10px;
							width: 23px;
						}
					}
				}
				.course-list__item__dropdown__item__btn {
					display: flex;
					flex-direction: column;
					align-items: center;
					h5 {
						color: @green;
						margin-bottom: 10px;
					}
				}

			}
		}
	}
	.course-list__item__box.active {
		.material-icons-round {
			transition: transform 0.4s;
			transform: rotate(-180deg);
		}
	}
	.course-list__item__box.active ~ .course-list__item__dropdown {
	 	display: block;
	}
	.material-icons-round {
		font-size: 80px;
		transform: rotate(0deg);
		transition: transform 0.4s;
		margin-top: -15px;
		color: inherit;
	}
}
.course-list__obs {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	.rich-text {
		margin-right: 20px;
		p {
			font-size: 11px;
		}
	}
	img {
		margin-right: 15px;
		width: 50px;
	}
}

.color-green {
	.material-icons-round {
		color: @dark-blue;
	}
}
.color-green ~ .course-list__item__dropdown {
	a.btn {
		background-color: @dark-blue;
	}
}

.color-dark-blue {
	.material-icons-round {
		color: @green;
	}
}
.color-dark-blue ~ .course-list__item__dropdown {
	a.btn {
		background-color: @dark-blue;
	}
}

.color-dark-blue-2 {
	.material-icons-round {
		color: @green;
	}
}
.color-dark-blue-2 ~ .course-list__item__dropdown {
	a.btn {
		background-color: @dark-blue-2 !important;
	}
}

.color-light-blue {
	.material-icons-round {
		color: @green;
	}
}
.color-light-blue~.course-list__item__dropdown {
	a.btn {
		background-color: @light-blue !important;
	}
}

.color-light-blue-2 {
	.material-icons-round {
		color: @green;
	}
}
.color-light-blue-2 ~ .course-list__item__dropdown {
	a.btn {
		background-color: @light-blue-2 !important;
	}
}

@media screen and (max-width: @screen-md) {
	.course-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: @screen-sm) {
	.course-list {
		margin-right: 20px;
		margin-left: 20px;
		.course-list__item {
			margin: 20px auto;
			width: 100%;
			.course-list__item__dropdown {
				.course-list__item__dropdown__item {
					padding: 20px 5px 20px 5px;
					> img {
						width: 45px;
					}
					.course-list__item__dropdown__item-text {
						.course-list__item__dropdown__item-text__title {
							h4 {
								font-size: 12px;
							}
							img {
								width: 12px;
							}
						}
					}
				}
			}
		}
	}
	.course-list__obs {
		flex-direction: column;
		align-items: center;
		margin-right: 20px;
		margin-left: 20px;
		.rich-text {
			margin-right: 0px;
			margin-bottom: 10px;
		}
	}
}