.rich-text {
	font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 20px;
	> p,
	span {
		font-size: 18px;
		line-height: 20px;
	}
	h2 {
		font-size: 26px;
		line-height: 31px;
		margin-bottom: 10px;
		font-weight: 600;
	}

	a {
		text-decoration: underline;
	}
	ul {
		li {
			margin-bottom: 9px
		}
	}
	br {
		margin-bottom: 10px;
	}
	img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: @screen-sm) {
	.rich-text {
		h2 {
			font-size: 22px;
			line-height: 24px;
		}
		p {
			font-size: 15px;
			line-height: 17px;
		}
	}
}