.testimonial {
	display: flex;
	width: 80%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	.testimonial__item {
		position: relative;
		margin-bottom: 15px;
		img {
			width: 420px;
		}
		.testimonial__item__text {
			position: absolute;
			top: 70px;
			right: 30px;
			left: 72px;
		}
	}
}