@import './structure.less';


h1, h2, h3, h4, p, a, ul, li {
	font-family: 'Roboto', sans-serif;
	color: @dark-blue;
}
h5,h6 {
	font-family: 'Roboto Condensed', sans-serif;
	color: @dark-blue;
}

p,
span {
	font-size: 16px;
	line-height: 18px;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 30px;
	line-height: 31px;
	margin-bottom: 10px;
	font-weight: 600;
}

h3 {
	font-size: 23px;
	font-weight: 600;
}

h4 {
	font-size: 19px;
	font-weight: 600;
}

h5 {
	font-size: 16px;
	font-weight: 600;
}
h6 {
	font-size: 16px;
	font-weight: 400;
}
///


a {
	color: black;
	&:hover {
	}
}
strong {
	font-weight: bold;
}
ul {
	li {
		font-size: 11px;
	}
}

blockquote, q, {
	margin:0px 8% 30px 8%;
	font-style: italic;
	p:last-of-type {
		margin-bottom: 15px; 
	}
}

@media screen and (max-width: @screen-sm) {
	p {
			font-size: 14px;
			line-height: 16px;
	}
	h4 {
		font-size: 15px;
	}
	h5 {
		font-size: 12px;
	}
}
